.chapter {
	text-align: center;
	font-size: 125%;
	font-weight: bold;
	font-family: system-ui;
	padding-top: 1em;
	padding-bottom: 1em;
	cursor: pointer;
	background-color: lightcoral;
}
.downloaded {
	background-color: lightgreen;
}
.downloaded-icon {
	color: darkgreen;
}
.pending-icon {
	color: darkred;
}