.chapter {
	text-align: center;
	font-size: 125%;
	font-weight: bold;
	font-family: system-ui;
	padding-top: 1em;
	padding-bottom: 1em;
	cursor: pointer;
	background-color: lightcoral;
}
ion-content {
	padding-bottom: 10em;
}
.audio-controls-offset {
	height: 10em;
}
.audio-controls {
	position: relative;
	top: -10em;
}
.downloaded {
	background-color: lightgreen;
}
.downloaded-icon {
	color: darkgreen;
}
.pending-icon {
	color: darkred;
}
.loading{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-spinner {
  stroke: #444;
  zoom: 2;
  fill: #222;
}